#portfolio {
    min-height: calc(100vh - 4rem);
    width: 85%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 0 1rem; /* Corrected padding */
}
.portfolio-title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.bulb {
    position: absolute;
    right: 39px;
    top: 37%;
    animation: scaleAnimation 1s infinite forwards; 
}
@keyframes scaleAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
.portfolio-data {
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 2rem;
}
.workImgs {
    display: flex;
    justify-content: center;
    width: 75%;
    gap: 2rem;
}
.workColumn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.workImg {
    height: 20rem;
    object-fit: cover;
    width: 100%;
}
.workItem {
    position: relative;
    width: 100%;
}
.workBtn {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgb(218, 0, 55);
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.workItem:hover .workImg {
    opacity: 0.4;
    transition: opacity 0.3s ease-in;
}
.workItem:hover .workBtn {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
.seemore {
    appearance: none;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 15px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;
    min-height: 50px;
    padding: 10px 18px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 15%;
}
.seemore:disabled {
    pointer-events: none;
}
.seemore:hover {
    color: #000;
    background-color: #da0037;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.seemore:active {
    box-shadow: none;
    transform: translateY(0);
}
@media screen and (max-width:480px) {
    #portfolio {
        font-size: 55%;
        padding: 0%;
    }
    .portfolio-data {
        width: 100%;
        padding: 0%;
    }
    .workImgs {
        flex-direction: column;
        align-items: center;
    }
    .workImg {
        width: 200px;
        height: 48vw;
    }
    .workItem {
        width: auto;
        margin: 0%;
    }
    .seemore {
        width: 100%;
    }
}
