.about {
    overflow: hidden; 
    width: 85%; 
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2rem auto;
    padding: 0; /* Remove any default padding */
}
.about-title{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.about-data{
    font-weight: 400;
    font-size: 1.2rem;
    max-width: auto;
    padding: 0 2rem;
}
#skills{
    margin-top: 2rem;
    
     background-color: #333333;
    color: #EDEDED;
    /* color: white; */
    text-align: center;
    width: 100%;
    /* border-radius: 2%; */
    border-style: dotted;
    border-color: black;
}
.spiral{
  position: absolute;
  right: 20px;
  animation: moveUpDown 1s ease-in-out infinite alternate; 
  height: 75px;
}
@keyframes moveUpDown {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-30px);
  }
  
}


.spiral2{
  position: absolute;
  left: 10px;
  animation: moveUpDown 1s ease-in-out infinite alternate; 
}
@keyframes moveUpDown {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-30px);
  }
  
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    margin: 10px;
    text-align: center;
    /* width: 40%; */
    margin: 5% 20px 5% 20px ;
    flex-basis: 80%;

  }

  .card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    /* border-radius: 50%; */
  }

  .card img:hover{
    transition: 0.5s all;
    cursor: pointer;
     height: 90px;
     width: auto;
  }
.container {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 480px) {
    .about-data {
      padding: 0%;
    }
    .card {
      flex-flow: row wrap;
      overflow: auto;
      flex-basis: 50%;
      width: 50%; /* Adjust the width of each card */
      margin:5% auto; /* Center the cards */
    }
    .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; /* Ensure containers wrap on smaller screens */
    }
    .card img{
      margin: auto;
    }
  }
  