.contact {
    min-height: calc(100vh - 4rem);
    width: 85%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 0 1rem; /* corrected padding value */
}

.contact-title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 0rem;
}

.contact-data {
    font-weight: 400;
    font-size: 1.2rem;
    /* max-width: 85%; */
    padding: 0 2rem;
}

.contactForm {
    margin: 1rem auto; /* centered the form */
    width: 100%; /* adjusted width */
    max-width: 40rem; /* adjusted max-width */
}

.input-field {
    font-size: medium;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    color: black;
    border: 1px solid black;
    border-radius: 0.5rem;
    background: rgb(255, 255, 255);
}
.typing-img {
    position: absolute;
    right: 69px;
    animation: moveUpDown 1s ease-in-out infinite alternate; 
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(30px); /* Adjust the distance to move up and down */
    }
}

.submit-btn {
    font-size: medium;
    padding: 0.5rem 1rem;
    color: black;
    background-color: white; /* changed button color to match title */
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 400;
}

.submit-btn:hover {
    background-color: #ff4d6b; /* lightened button color on hover */
}
@media screen and (max-width:480px) {
    .contact{
        padding: 0%;
    }
    .contact-data{
        width: 100%;
        padding: 0%;
    }
    .typing-img{
        display: none;
    }
}